section {
    padding: 100px 0;
}

.timeline-img {
    width: 30px;
    height: 30px;
    background: #3f51b5;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-top: 25px;
    margin-left: -15px;
}
.rectangleup{
    width: 50px;
    height: 15px;
    background: #3f51b5;
    position: absolute;
    left: 50%;
    margin-top: -60px;
    margin-left: -24px;
}
.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #3f51b5;
    position: absolute;
    left: 50%;
    margin-top: 15px;
    margin-left: -19.5px;
  }
.buttonDesign {
    background: #3f51b5;
    color: #fff;
    padding: 8px 20px;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: 10px;
    display: inline-block;
    border-radius: 2px;
    box-shadow: 0 1px 3px -1px rgba(0, 0, 0, .6);
}
.buttonDesign:hover, .buttonDesign:active, .buttonDesign:focus {
    background: #32408f;
    color: #fff;
    text-decoration: none;
}
.timeline-card {
    padding: 0 !important;
}
.timeline-card p {
    padding: 0 20px;
}
.timeline-card a {
    margin-left: 20px;
}
.timeline-item .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .4)), url('https://picsum.photos/1000/800/?random') center center no-repeat;
    background-size: cover;
}
.timeline-img-header {
    height: 200px;
    position: relative;
    margin-bottom: 20px;
}
.timeline-img-header h2 {
    color: #fff;
    position: absolute;
    bottom: 5px;
    left: 20px;
}
.timeline-content p{
    font-family: 'Roboto';
    color: #333;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: initial;
}
blockquote {
    margin-top: 30px;
    color: #757575;
    border-left-color: #3f51b5;
    padding: 0 20px;
}
.date {
    background: #ff4081;
    display: inline-block;
    color: #fff;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
}
@media screen and (max-width: 768px) {
    .timeline{
        padding: 0px;
        padding-top: 50px;
        top: -75px;
    }
    .timeline::before {
        left: 50px;
   }
   .timeline-item{
        width: 95%;
   }
    .timeline .timeline-img {
        left: 50px;
   }
    .timeline .timeline-content {
        max-width: 100%;
        width: auto;
        margin-left: 70px;
   }
    .timeline .timeline-item:nth-child(even) .timeline-content {
        float: none;
   }
    .timeline .timeline-item:nth-child(odd) .timeline-content::after {
        content: '';
        position: absolute;
        border-style: solid;
        width: 0;
        height: 0;
        top: 30px;
        left: -15px;
        border-width: 10px 15px 10px 0;
        border-color: transparent #f5f5f5 transparent transparent;
   }
   .rectangleup {
        margin-top: 125px;
    }
    .timeline{
        margin-bottom: -75px;
    }

}
.firstcontainer{
    position: relative;
    background: #F6F6F6;
    overflow: hidden;
}
.secondcontainer{
    position: absolute;
    top: 125px;
    left: 30%;
    width: 100%;
    text-align: center;
    height: 175px;
    color: white;
    margin: 0 auto;
    max-width: 500px;
}

.secondcontainer p{
    font-size: 20px;
}
.secondcontainer i{
    font-size: 14px;
}
.date{
    font-size: 12pt;
}
.skills-wrapperme{
    position: relative;
    top: 80px;
}
.flwaypoint{
    position: relative;
    width: 50%;
}
.meImg{
    height: 250px;    
}
.label_bold{
    margin: 20px 0 15px 0;
    font-size: 18pt;
    font-weight: 600;
    font-family: "Raleway-bold";
    line-height: 18pt;
    color: #616161;
    -webkit-font-smoothing: antialiased;
    text-align: center;
}
.label_boldSmall{
    width: 70%;
    margin: 0 auto;
    font-size: 14pt;
    font-family: "Raleway-bold";
    line-height: 18pt;
    color: #616161;
    -webkit-font-smoothing: antialiased;
    text-align: center;
}
.timeline_skill{
    width: 100%;
    background-color: #f2e0c9;
    z-index: 1000;
}
@media screen and (max-width: 768px) {
    .skills-wrapperme{
        top: -50px;
    }
    .flwaypoint{
        width: 100%;
    }
    #slancont{
        padding: 0px;
        padding-bottom: 50px;
    }
    .rectangleup{
        top: 2%;
        left: 13%;
    }
    .arrow-down {
        left: 13%;
        bottom: 2%;
    }
    .secondcontainer{
        left: 0%;
        top: 40px;
    }
}


/*----------------- new about ------------------------------- */
.about-me .container{
    max-width: 1140px;
    text-align: left;
    font-family: "Barlow", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
}
.about-me .inner {
    background: #fff;
    -webkit-box-shadow: 0px 13px 20px #8c8c8c12;
    box-shadow: 0px 13px 20px #8c8c8c12;
    border-radius: 7px;
    overflow: hidden;
}
.about-me .about-left {
    background: #74b9ff;
    height: 100%;
}
@media(max-width:992px){
    .about-me .about-left {
        height: 80%;
    }
    .aboutjpg{
        margin-bottom: -100px;
    }
}
.about-me img {
    height: 100%;
}
.about-me .about-right {
    padding: 50px 40px 40px 40px;
}
.about-me .about-right .right-title {
    color: #333;
    font-size: 32px;
    font-weight: 700;
}
.about-me .about-right .right-title span {
    font-size: 15px;
    color: #333;
    display: block;
    margin-top: 4px;
    font-weight: 400;
}
.about-me .about-tab {
    margin-top: 40px;
}
.about-me .about-tab .nav-tabs {
    border-bottom: 2px solid #4353ff;
}
.about-me .about-tab .nav {
    margin-bottom: 40px;
    background: transform;
    position: relative;
}
.about-me .tab-about p:first-child {
    margin-bottom: 30px;
    color: #666;
}
.about-me .tab-about p {
    color: #999;
    font-size: 15px;
    line-height: 22px;
}
.about-me .about-me-info {
    margin-bottom: 30px;
}
.info-inner{
    padding: 0;
}
.about-me .about-me-info ul li {
    margin-bottom: 8px;
    list-style-type: none;
}
.about-me .about-me-info ul li span {
    font-weight: 500;
    display: inline-block;
    margin-right: 7px;
    color: rgb(0, 0, 0);
}
.about-me .about-tab .nav li button {
    color: #081828;
    border: none;
    padding: 0;
    padding: 10px 25px;
    border-radius: 4px 4px 0 0;
    font-weight: 500;
    font-family: "Barlow", sans-serif;
    font-size: 15px;
}
.about-me .about-tab .nav li button.active {
    background: #4353ff;
    color: #fff;
}
.tab-about .btn{
    display: inline-block;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 500;
    padding: 15px 30px;
    background-color: #4353ff;
    color: #fff;
    border: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border-radius: 4px;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    text-transform: none;
}
.tab-about .btn:hover {
    background-color: #081828;
    color: #fff;
    -webkit-box-shadow: 0 1rem 3rem rgb(35 38 45 / 15%) !important;
    box-shadow: 0 1rem 3rem rgb(35 38 45 / 15%) !important;
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
}
.about-me .skill-main .single-skill {
    margin-bottom: 30px;
}
.about-me .skill-main .skill-title h4 {
    color: #333;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 13px;
}
.about-me .skill-main .progress {
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #3333330a;
    height: 5px;
    border-radius: 0;
    overflow: visible;
    border-radius: 0;
}
.about-me .skill-main .progress-bar {
    position: relative;
    background: #4353ff;
    border: none;
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0px;
    overflow: visible;
}
.about-me .skill-main .progress-bar span {
    position: absolute;
    right: 2px;
    top: -40px;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    background: #4353ff;
    height: 30px;
    width: 40px;
    display: block;
    text-align: center;
    line-height: 30px;
    border-radius: 3px;
}
.about-me .skill-main .progress-bar span::before {
    position: absolute;
    content: "";
    right: 0;
    bottom: -6px;
    border: 4px solid #4353ff;
    border-bottom-color: transparent;
    border-left-color: transparent;
}
.about-me .tab-contact .single-info {
    margin-bottom: 30px;
    display: block;
    position: relative;
    padding-left: 75px;
}
.about-me .contact-address-icon {
    margin-right: 30px;
}
.about-me .tab-contact h3 {
    color: #333;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 3px;
}
.about-me .tab-contact span {
    color: #777;
    font-size: 14px;
    display: block;
}
.about-me .tab-contact span {
    color: #777;
    font-size: 14px;
    display: block;
}
.contact-address-text span a {
    color: #777;
    display: inline-block;
    text-decoration: none;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
}
.about-me .contact-address-icon i {
    height: 50px;
    width: 50px;
    line-height: 50px;
    background: transparent;
    text-align: center;
    font-size: 18px;
    border-radius: 50%;
    color: #fff;
    float: left;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    position: absolute;
    left: 0;
    top: -4px;
    background-color: #4353ff;
    color: #fff;
    transform: scaleX(-1);
}
.smallColordsgn{
    /* background: -webkit-linear-gradient(0deg,#8490ff 0%,#62bdfc 100%);
    background-image: -webkit-linear-gradient(0deg, rgb(132, 144, 255) 0%, rgb(98, 189, 252) 100%); */
    padding: 30px 0;
    background: #F9FAFF;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
}
/* -------------------- Time Line ---------------------------------*/

.education_section .nav.nav-tabs {
    display: block;
    text-align: center;
    border: none;
    margin-bottom: 120px;
}
.education_section .nav.nav-tabs li {
    display: inline-block;
    margin-right: 8px;
}
@media(max-width: 992px) {
    .education_section .nav.nav-tabs li {
        margin-right: 0px;
    }
}
.education_section .nav.nav-tabs li button.active {
    background: #fff;
    color: #222222;
}
.education_section .nav.nav-tabs li button {
    margin: 0px;
    line-height: 50px;
    border-radius: 5px;
    padding: 0px 40px;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    font-family: "Roboto", sans-serif;
    border: 1px solid #9ab5f5;
    background: rgba(255, 255, 255, 0.1);
}
.education_section .nav-tabs .nav-link:focus, .education_section .nav-tabs .nav-link:hover {
    border-color: #252C48;
    isolation: isolate;
}

/* --------------------  Time Line Content------------------------ */
.port_education_setions{
    background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
}
.education_main_wrapper{
    font-size: 15px;
    position: relative;
}
.education_main_wrapper h1, .education_main_wrapper h2,
.education_main_wrapper h3, .education_main_wrapper h4,
.education_main_wrapper h5, .education_main_wrapper h6 {
    font-family: 'Josefin Sans';
    color: #222222;
    margin: 0;
    padding: 0;
}
.edu_leftyear{
    position: relative;
}
.prt_bottompadder80 {
    padding-bottom: 80px;
}
.prt_toppadder80 {
    padding-top: 80px;
}
.education_main_wrapper .education_box {
    margin-bottom: 120px;
}
.education_firsrtbox .education_left {
    float: right;
    margin-right: 20px;
}
.education_box.firstbox h1 {
    border-color: rgb(255, 81, 126);
    color: rgb(255, 81, 126);
}
.education_section .edu_mainyear h1 {
    border: 10px solid;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    line-height: 105px;
    text-align: center;
    font-size: 24px;
    position: relative;
    color: #bfbfbf;
    font-weight: 600;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.education_box.firstbox h1 {
    /* border-color: rgb(255, 81, 126);
    color: rgb(255, 81, 126); */
    border-color: #252C48;
    color: #252C48;
}
.education_box.firstbox .edu_mainyear h1:before {
    /* border-color: rgb(255, 81, 126); */
    border-color: #252C48;
}
.education_firsrtbox .edu_mainyear h1:before {
    right: -52px;
}
.edu_mainyear h1:before {
    content: '';
    width: 20px;
    height: 20px;
    background: rgb(245, 245, 245);
    position: absolute;
    top: 42px;
    border-radius: 50%;
    /* border: 2px solid #f6483a; */
    border: 2px solid #4c84ff;
    z-index: 99;
}
.education_box.firstbox .edu_mainyear h1:after {
    /* border-left-color: rgb(255, 81, 126); */
    border-left-color: #252C48;
}
.education_firsrtbox .edu_mainyear h1:after {
    content: '';
    border-right: 15px solid transparent;
    border-bottom: 13px solid transparent;
    border-top: 13px solid transparent;
    /* border-left: 15px solid #f6483a; */
    border-left: 15px solid #4c84ff;
    position: absolute;
    right: -37px;
    top: 40px;
}
.education_box.firstbox .edu_mainyear:after {
    /* background: rgb(255, 81, 126); */
    background: #252C48;
}
.education_firsrtbox .edu_mainyear:after {
    right: -36px;
}
.edu_mainyear:after {
    content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    top: 58px;
    border-radius: 50%;
    z-index: 99;
}
.education_mright.education_right {
    margin-left: 38px;
}
.education_mright {
    max-width: 410px;
    -webkit-transition: all 05s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
}
.education_mright .education_rinfo {
    background: #ffffff;
    padding: 20px 40px 20px 40px;
    position: relative;
    z-index: 0;
    box-shadow: 0px 3px 12px rgb(0 0 0 / 9%);
    -webkit-box-shadow: 0px 3px 12px rgb(0 0 0 / 9%);
    -moz-box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.09);
}
.education_right .prt_rightside_title {
    left: -10%;
    box-shadow: -10px 2px 9px 0px rgb(0 0 0 / 9%);
    -webkit-box-shadow: -10px 2px 9px 0px rgb(0 0 0 / 9%);
    -moz-box-shadow: -10px 2px 9px 0px rgba(0, 0, 0, 0.09);
}
.prt_rightside_title {
    text-align: center;
    background: #fff;
    position: absolute;
    width: 75%;
    top: -18px;
}
.education_mright .left_title_box {
    display: flex;
    position: relative;
}
.education_mright .left_title_box:before {
    content: "";
    position: absolute;
    border-left: 10px solid #fff0;
    border-right: 10px solid #ffffff;
    border-top: 7px solid #ffbf0b00;
    border-bottom: 7px solid #f70d0d00;
    top: 11px;
}
.education_firsrtbox .left_title_box:before {
    left: -20px;
    border-left: 10px solid #fff0;
    border-right: 10px solid #ffffff;
    border-top: 7px solid #ffbf0b00;
    border-bottom: 7px solid #f70d0d00;
}
.prt_rightside_title .left_title {
    width: 25%;
}
.prt_rightside_title .left_title h4 {
    color: #010101;
    font-weight: 600;
    font-size: 18px;
    padding-top: 10px;
    bottom: 10px;
}
.prt_rightside_title .right_title {
    width: 75%;
}
.bg-pink {
    /* background-color: rgb(255, 81, 126); */
    background-color: #4c84ff;
}
.prt_rightside_title .right_title h4 {
    color: #ffffff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
    padding: 10px 0;
}
h3.education_place {
    display: inline-block;
    width: 100%;
    text-transform: capitalize;
    margin: 20px 0 10px 0;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: black;
    text-align: left;
}
.education_rinfo p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: left;
    color: #777777;
    margin: 0;
    padding: 0;
}
.education_main_wrapper:after {
    content: "";
    position: absolute;
    /* background-color: #ff517e; */
    background-color: #252C48;
    width: 2px;
    top: -10px;
    bottom: 90px;
    left: 0;
    right: 0;
    margin: 0px auto;
    z-index: 0;
}
.education_mright:hover {
    transform: translate(0px,-10px);
    -webkit-transform: translate(0px,-10px);
    -ms-transform: translate(0px,-10px);
    -moz-transform: translate(0px,-10px);
    -o-transform: translate(0px,-10px);
}
/* --------------- Second Box --------------------- */
.education_main_wrapper .education_box {
    margin-bottom: 120px;
}
.education_left .prt_rightside_title {
    right: -10%;
    box-shadow: 10px 2px 9px 0px rgb(0 0 0 / 9%);
}
.prt_rightside_title {
    text-align: center;
    background: #fff;
    position: absolute;
    /* width: 75%; */
    width: 90%;
    top: -18px;
}
.education_secondbox .left_title_box:before {
    right: -20px;
    border-left: 11px solid #ffffff;
    border-right: 11px solid #ffffff00;
    border-top: 8px solid #ffbf0b00;
    border-bottom: 7px solid #f70d0d00;
}
.bg-yellow {
    background-color: #4c84ff;
}
.education_secondbox .education_left {
    float: right;
    margin-right: 38px;
}
.education_box.secondbox h1 {
    border-color: #252C48;
    color: #252C48;
}
.education_box.secondbox .edu_mainyear:after {
    background: #252C48;
}
.education_secondbox .edu_mainyear:after {
    left: -36px;
}
.education_box.secondbox .edu_mainyear h1:before {
    border-color: #252C48;
}
.education_secondbox .edu_mainyear h1:before {
    left: -52px;
}
.education_box.secondbox .edu_mainyear h1:after {
    border-right-color: #252C48;
}
.education_box.secondbox .edu_mainyear h1:after {
    border-right-color: #252C48;
}
.education_secondbox .edu_mainyear h1:after {
    content: '';
    border-right: 15px solid #252C48;
    border-bottom: 13px solid transparent;
    border-top: 13px solid transparent;
    border-left: 15px solid #f6483a00;
    position: absolute;
    left: -37px;
    top: 40px;
}
.education_secondbox .education_right {
    margin-left: 20px;
}
@media (max-width: 992px){
    .education_mright .education_rinfo {
        z-index: 20;
    }
}
@media (max-width: 767px){
    .education_firsrtbox .education_left {
        float: none;
        margin-bottom: 45px;
        margin-right: 0px;
    }

    .education_box.firstbox .edu_mainyear h1:after {
        border-left-color: transparent;
        border-top-color: #252C48;
    }

    .education_firsrtbox .edu_mainyear h1:after {
        content: '';
        border-right: 15px solid transparent;
        border-bottom: 13px solid transparent;
        border-top: 13px solid transparent;
        border-left: 15px solid transparent;
        position: absolute;
        right: 37px;
        bottom: -34px;
        top: auto;
    }
    .education_main_wrapper:after {
        display: none;
        left: -342px;
        top: 170px;
        bottom: 145px;
    }
    .edu_mainyear h1:before {
        display: none;
    }
    .education_secondbox .edu_mainyear h1:after {
        content: '';
        border-right: 15px solid transparent;
        border-bottom: 13px solid transparent;
        border-top: 13px solid transparent;
        border-left: 15px solid transparent;
        position: absolute;
        left: 38px;
        top: -34px;
    }
    .education_box.secondbox .edu_mainyear h1:after {
        border-right-color: transparent;
        border-bottom-color: #252C48;
    }
    .education_secondbox .education_left {
        margin-left: 0;
        float: right;
        margin-bottom: 20px;
    }
    .education_secondbox .edu_leftyear {
        position: relative;
        margin-left: 190px;
    }
    .education_secondbox .edu_mainyear:after {
        display: none;
    }
    .secondbox{
        margin-bottom: 50px !important;
    }
    /* .education_main_wrapper:before {
        content: "";
        position: absolute;
        background-color: #252C48;
        width: 2px;
        top: 170px;
        bottom: 360px;
        left: 0;
        right: -340px;
        margin: 0px auto;
    } */
}
/* --------------- My Intro --------------------- */
.fun-facts-area {
    background: #111111;
    padding: 0;
    text-align: left;
    overflow: hidden;
}
.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
.no-gutters>.col, .no-gutters>[class*=col-] {
    padding-right: 0;
    padding-left: 0;
}
@media (min-width: 585px){
    .cslid{
        height: 390px;
    }
}
@media (min-width: 992px){
.text-lg-left {
    text-align: left!important;
}
}
.text-center {
    text-align: center!important;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
.fun-facts-area .video-area {
    position: relative;
}

.fun-facts-area .video-area .video-play-btn {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 140px;
    height: 140px;
    line-height: 140px;
    border-radius: 50%;
    background: #fff;
    margin: auto;
    font-size: 20px;
    color: var(--main-color);
    transition: all 0.3s ease-in;
}
.fun-facts-area a, .fun-facts-area a:hover, .fun-facts-area a:focus, .fun-facts-area a:active {
    text-decoration: none;
    outline: none;
    color: inherit;
}
.fun-facts-area .video-area .video-play-btn::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 50%;
    transform: scale(1.3);
    border: 2px solid rgba(255, 255, 255, 0.3);
}
.fun-facts-area a i {
    padding: 0 2px;
}
@media only screen and (max-width: 1440px){
.fun-facts-area .fun-fact-info {
    padding: 50px 0px 50px 50px;
}
}
.fun-facts-area .fun-fact-info {
    padding: 50px 30px 50px 70px;
}
@media only screen and (max-width: 1440px){
.fun-facts-area .fun-fact-info {
    padding: 50px 0px 50px 50px;
}
}
.section-title {
    margin-top: -5px;
}
.margin-bottom-30 {
    margin-bottom: 30px;
}
.section-title .line-arrow {
    margin-bottom: 25px;
    line-height: 1;
}
.section-title .sub-title {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    color: #777777;
}
@media only screen and (max-width: 1440px){
.fun-facts-area .section-title .title {
    font-size: 38px;
    line-height: initial;
}
}
.section-title .title {
    font-size: 46px;
    line-height: 56px;
    font-weight: 700;
    color: #111111;
    margin: 0;
}
@media only screen and (min-width: 1200px) and (max-width: 1400px){
.fun-facts-area .fun-fact-content {
    margin-bottom: 30px;
}
}
.margin-bottom-55 {
    margin-bottom: 55px;
}
@media only screen and (min-width: 1200px) and (max-width: 1400px){
.fun-facts-area .fun-fact-content p {
    font-size: 16px;
}
}
.fun-facts-area .fun-fact-content p {
    font-size: 18px;
    line-height: 30px;
    color: #999999;
}
@media (min-width: 992px){
.justify-content-lg-start {
    -ms-flex-pack: start!important;
    justify-content: flex-start!important;
}
}
.fun-facts-area .feature-area .single-feature {
    display: flex;
    align-items: center;
}


@media only screen and (max-width: 1440px){
.fun-facts-area .feature-area .single-feature .feature-left {
    width: 90px !important;
    flex: none;
    height: 90px !important;
}
}
.fun-facts-area .feature-area .single-feature .feature-left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    background: #fff;
    margin-right: 15px;
}
.fun-facts-area .feature-area .single-feature .feature-left h2 {
    font-size: 50px;
    font-weight: 700;
    color: #111111;
    margin: 0;
    line-height: 1;
}
@media only screen and (min-width: 1200px) and (max-width: 1400px){
.fun-facts-area .feature-area .single-feature .feature-left h2 {
    font-size: 44px;
}
}
.fun-facts-area .feature-area .single-feature .feature-left h2 sub {
    bottom: 0;
    font-size: 18px;
    color: var(--main-color);
}
.fun-facts-area .feature-area .single-feature .feature-title {
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    text-transform: capitalize;
    color: #fff;
}
.smallColordsgn .slick-list {
    margin: 0 auto;
    width: 90%;
}
.simple-slide {
    position: absolute;
    top: 30%;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    z-index: 50;
    color: black;
    background: transparent;
    font-size: 11px;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}
.simpleSlide-prev {
    left: 30px;
}
.simpleSlide-next {
    right: 30px;
}