#main section.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 1;
    opacity: 1;
    -webkit-transition: -webkit-transform .6s ease;
    transition: -webkit-transform .6s ease;
    -o-transition: transform .6s ease;
    transition: transform .6s ease;
    transition: transform .6s ease, -webkit-transform .6s ease;
    transition: transform .6s ease, -webkit-transform .6s ease;
}
#main section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    z-index: 0;
    opacity: 0;
    -webkit-transition: opacity 0s ease .6s, -webkit-transform .6s ease .6s;
    transition: opacity 0s ease .6s, -webkit-transform .6s ease .6s;
    -o-transition: transform .6s ease .6s, opacity 0s ease .6s;
    transition: transform .6s ease .6s, opacity 0s ease .6s;
    transition: transform .6s ease .6s, opacity 0s ease .6s, -webkit-transform .6s ease .6s;
}
.home {
    position: relative;
    /* height: 100vh; */
    overflow: hidden;
    overflow-y: auto;
}
.home .h-100vh {
    padding: 100px 0px 100px;
}
@media (max-height: 850px){
.home .h-100vh {
    height: auto !important;
}
}
.home .main-profile-image {
    background: #252C48;
    padding: 30px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.home .main-profile-image::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 200%;
    top: -100px;
    left: -100px;
    background: #4c84ff;
    transform: rotate(-30deg);
}
.home .main-profile-image img {
    border-radius: 10px;
    position: relative;
    z-index: 1;
}
img {
    max-width: 100%;
}
.home .greeting {
    background: #4c84ff;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 3px 10px;
    position: relative;
    line-height: 26px;
}
.home .greeting::after {
    position: absolute;
    content: '';
    bottom: -10px;
    left: 5px;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-left: 10px solid #4c84ff;
    border-bottom: 10px solid transparent;
}
.home .name {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 0px;
    /* text-shadow: 3px -3px 10px rgb(0 0 0 / 30%); */
}
.hero-box h1, .hero-box h2, .hero-box h3, .hero-box h4, .hero-box h5, .hero-box h6 {
    color: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
}
.hero-box h2 {
    font-size: 52px;
    line-height: 1.4444444444444444;
    text-transform: uppercase;
}
.home .name span {
    color: #4c84ff;
}
.header_title {
    font-size: 21px;
    line-height: 31px;
    font-weight: 600;
    color: #fff;
}
#typed {
    font-size: 21px;
    line-height: 31px;
    font-weight: 600;
    color: #fff;
}
.header_title span {
    font-weight: 500;
}
.home .short-info {
    color: #fff;
    margin-top: 16px;
    margin-bottom: 0px;
}
.home .mybtn {
    margin-top: 27px;
    display: inline-block;
}
.mybtn-bg {
    background: #4c84ff;
    border-color: #4c84ff;
    color: #fff;
}

.mybtn {
    padding: 8px 30px;
    border-radius: 4px;
    display: inline-block;
    border: 1px solid transparent;
    position: relative;
    z-index: 3;
    -webkit-box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    cursor: pointer;
    outline: none !important;
    overflow: hidden;
}
.mybtn:before, .mybtn:after {
    content: '';
    width: 0;
    height: 100%;
    background: #252C48;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: width 0.4s;
    -o-transition: width 0.4s;
    transition: width 0.4s;
    z-index: 1;
    opacity: .4;
}
.mybtn span {
    text-transform: uppercase;
    position: relative;
    z-index: 6;
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}
.text-left {
    text-align: left!important;
}
.mybtn:after {
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    background: #252C48;
    opacity: 1;
}
.mybtn span i {
    margin-right: 6px;
}
.mybtn:hover:before, .mybtn:hover:after {
    width: 100%;
}
.mybtn-bg:hover span {
    color: #fff;
}
.mybtn:hover span {
    -webkit-transition-delay: .2s;
    -o-transition-delay: .2s;
    transition-delay: .2s;
}
@media (max-width: 991px){
.hero-box {
    padding-top: 40px;
}
}