/* @font-face {
    font-family: "Flaticon";
    src: url(../fonts/flaticon/font/Flaticon.eot);
    src: url(../fonts/flaticon/font/Flaticond41d.eot?#iefix) format("embedded-opentype"), url(../fonts/flaticon/font/Flaticon.woff) format("woff"), url(../fonts/flaticon/font/Flaticon.ttf) format("truetype"), url(../fonts/flaticon/font/Flaticon.svg#Flaticon) format("svg");
    font-weight: normal;
    font-style: normal
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: "Flaticon";
      src: url(../fonts/flaticon/font/Flaticon.svg#Flaticon) format("svg")
    }
} */
body {
    text-align: center;
    font-size: 18px;
    background-color: #171C32;
    overflow: hidden;
    overflow-y: auto;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

.carousel-inner {
    height: 100%;
}

.navFix {
    position: fixed;
    width: 100vw;
    z-index: 1000;
}

.navbar {
    position: relative;
    padding: 0.5px 1rem;
    background-color: #000;
    min-height: 65px;
}

.navFix .navbar .container {
    margin-right: 20px;
    max-width: 1280px;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }
}

.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.logo {
    width: 135px;
}

.navbar-toggler {
    transition: box-shadow .15s ease-in-out;
}

.nav-link {
    font-family: "Raleway";
    color: #fff;
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.nav-link:focus,
.nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: #75dab4;
}

.ml-auto,
.mx-auto {
    margin-left: auto !important;
}

.navbar-collapse {
    transition: 0s;
}

.navbar-toggler-icon {
    content: "";
    background: 50%/100% 100% no-repeat;
    color: #ffffff;
    font-size: 30px;
    transition-duration: 0.3s;
}

.navbar-toggler[aria-expanded="true"] span:after {
    font-family: 'Ionicons';
    content: '\f406';
    /* This is cross */
    position: absolute;
    top: 10%;
    left: 90%;
    font-size: 24px;
    transform: translate(-50%, -50%);
}

.navbar-toggler[aria-expanded=false] span:after,
.navbar-toggler[aria-expanded=true] span:after {
    font-family: "Ionicons";
    position: absolute;
    left: 90%;
    font-size: 24px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.navbar-toggler[aria-expanded=false] span:after {
    content: "\f1c3";
    /* This is hamburger */
    top: 45%;
}

@media (min-width: 790px) {
    .navbar .navbar-nav .nav-link {
        font-size: 15px;
        font-weight: 500;
        padding: 13px 7px;
        margin: 10px 15px;
    }
}