.writeArea{
    min-height: 500px;
    background-color: #ffff;
    padding: 50px;
}
.smiconBtn{
    background: none;
    border: none;
}
.dropdown-Preview ,.dropdown-Preview:hover,.dropdown-Preview:checked,.dropdown-Preview:focus {
    background-color: #ffff !important;
    color: #000000 !important;
    border-color: #546e7a !important;
    box-shadow: none !important;
    min-width: 130px;
    padding-top: 0;
    padding-bottom: 0;
}
.dropdown-Preview::after {
    content: none !important;
}
.droparrowL{
    border-left: 1px solid black;
    padding: 5px;
    height: 100%;
}
.previwArea{
    padding-top: 7px;
    padding-bottom: 7px;
}
.arrow-downD:after {
    content:'';
    position: absolute;
    top: 17px;
    left: 110px;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: 7px solid #000000;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
}
.publishar{
    margin-left: -25px;
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 0px;
}
.mainTitleBar{
    flex-grow: 1;
    flex-shrink: 1;
    background-color: transparent;
    border: none;
    display: block;
    font: 400 16px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    height: 100%;
    line-height: 24px;
    margin: 0;
    min-width: 100%;
    outline: none;
    padding: 0;
    z-index: 0;
    border-bottom: 1px solid red;

}
.titleLabelBar{
    display: none;
    margin-left: -17px;
    font-size: 15px;
    color: blue;
    position: relative;
    top: 30px;
    transition: top 0.5s;
}
.titleLabelBarUp{
    display: block !important;
    top: 0px;
}